input[type=text] {
  width: 80%;
  padding: 12px 20px;
  margin: 10px;
  box-sizing: border-box;
}

.main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.input-task-container {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: right;
}

.btn-task-add-container {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: left;
  margin-right: 10px;
}

.btn {
  border: none;
  color: #4CAF50;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  margin-left: 5px;
  transition-duration: 0.4s;
}

.btn-add {
  background-color: #4CAF50;
  color: white;
}

.btn-del {
  background-color: #FF5733 ;
  color: white;
}

.btn-edit {
  background-color: #5F9EA0;
  color: white;
}

.btn-task {
  align-self: center;
  color: white;
  height: 35px;
  padding: 10px;
  font-size: small;
  margin-left: 0.5em;
}

.task {
  color: white;
}

.flash-msg {
  color: white;
}

.alert {
  padding: 10px;
  background-color: #89CFF0;
  color: white;
  margin-bottom: 15px;
}

.task-container {
  display: flex;
  justify-content: space-between;
  margin: 0 10px
}
.btn-container {
  display: flex;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
  overflow: scroll;
}